.userManagement {
  .userManagementHeader {
    margin-bottom: 16px;
    display: flex;
    gap: 8px;
  }

  .tableActions {
    display: flex;
    gap: 8px;
  }

  .statusEnabled {
    color: #52c41a;
  }

  .statusDisabled {
    color: #ff4d4f;
  }
}
