@import '../../styles/var.less';

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: all var(--transition-normal);
}

/* 旋转动画 */
.spin {
  animation: spin-animation linear infinite;
}

.spin-slow {
  animation-duration: 3s;
}

.spin-normal {
  animation-duration: 2s;
}

.spin-fast {
  animation-duration: 1s;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
