.apiTestContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;

  .apiTestHeader {
    padding: 12px;
    background-color: #fff;
    height: auto;
    line-height: 1.5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  .apiTestForm {
    display: flex;
    width: 100%;

    .apiTestUrl {
      flex: 1;
    }
  }

  .apiTestContent {
    padding: 16px;
    overflow: auto;
    background-color: #fff;
  }

  .apiTestParamsForm {
    margin-top: 16px;
  }

  .apiTestResponse {
    margin-top: 16px;
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;

    .apiTestResponseHeader {
      margin-bottom: 16px;
    }
  }

  .apiTestSider {
    border-left: 1px solid #e8e8e8;
    overflow: auto;
  }

  .apiTestHistoryHeader {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
  }
}
