.versionHistoryHeader {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.versionList {
  margin-top: 16px;
}

.versionTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.versionDescription {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.versionTime {
  font-size: 12px;
  color: #999;
}

.versionCreator {
  font-size: 12px;
  color: #999;
}
