.databaseBrowser {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .header {
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    
    .search {
      flex: 1;
    }
  }
  
  .content {
    flex: 1;
    overflow: auto;
    padding: 8px;
  }
  
  .nodeTitle {
    display: flex;
    align-items: center;
    
    .nodeName {
      margin-right: 8px;
    }
    
    .nodeType {
      font-size: 12px;
      color: var(--color-text-secondary);
      background-color: var(--color-bg-subtle);
      padding: 0 4px;
      border-radius: 2px;
    }
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .title {
      flex: 1;
    }
    
    .actions {
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    &:hover {
      .actions {
        opacity: 1;
      }
    }
  }
}
