.dataSourceSelector {
  .cascader {
    width: 100%;
  }
  
  .typeTag {
    font-size: 12px;
    color: var(--color-text-secondary);
    background-color: var(--color-bg-subtle);
    padding: 0 4px;
    border-radius: 2px;
  }
}
