// @import '../../var.less';

.box {
  display: flex;

  .divider {
    width: 0px;
    position: relative;
  }

  .dividerCenter {
    position: absolute;
    width: 6px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    transform: translateX(-50%);
    transition: background-color var(--transition-fast);

    &:hover {
      background-color: var(--color-primary-bg);
      cursor: col-resize;
    }
  }

  .dragging {
    background-color: var(--color-primary) !important;
    opacity: 0.5;
  }
}

.box_column {
  height: 100%;
  flex-direction: column;

  .divider {
    height: 0px;
    width: 100%;
    position: relative;
  }

  .dividerCenter {
    height: 6px;
    width: auto;
    top: 0px;
    right: 0px;
    left: 0;
    z-index: 100;
    transform: translateY(-50%);
    transition: background-color var(--transition-fast);

    &:hover {
      background-color: var(--color-primary-bg);
      cursor: row-resize;
    }
  }

  .dragging {
    background-color: var(--color-primary) !important;
    opacity: 0.5;
  }
}

.displayDivider {
  display: none;
}
